.person {
    border: 2px solid black;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    text-align: center;
    padding: 0.5em 1em;
}

.person.main::before {
    content: '';
    position: absolute;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    background-color: transparent;
    border: 2px solid black;
    top: 5px;
    left: 5px;
    pointer-events: none;
}

.person.female.main::before {
    border-radius: 50%;
}

.person > * {
    margin-bottom: 0.5em;
}

.person > *:last-child {
    margin-bottom: 0;
}

.person.male {
    border-radius: 0;
}

.person.female {
    border-radius: 50%;
}

.dead {
    position: absolute;
    right: 10px;
    height: 20px;
    width: 10px;
}

.person.female > .dead {
    top: -8px;
}

.person.male > .dead {
    top: -20px;
}

.dead:before {
    content: '';
    width: 100%;
    height: 2px;
    background-color: black;
    position: absolute;
    top: 5px;
    left: 0;
}

.dead::after {
    content: '';
    width: 2px;
    height: 100%;
    background-color: black;
    position: absolute;
    top: 0;
    left: calc(50% - 1px);
}

.personWrapper {
    position: relative;
    display: flex;
}
.personWrapper > .person + .personWrapper {
    margin-left: 50px;
}

.childrens {
    position: absolute;
    bottom: -175px;
    display: flex;
    gap: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.add {
    opacity: 0.5;
}

.person > .actions {
    opacity: 0;
    transition: all 0.3s ease;
    position: absolute;
    top: 5px;
    right: 5px;
}

.person.female > .actions {
    right: 10px;
    top: 10px;
}

.person:hover > .actions {
    opacity: 1;
}

.childrens::before {
    content: '';
    width: calc(100% - 100px);
    height: 2px;
    background-color: black;
    position: absolute;
    top: -25px;
    left: 50px;
}

.childrens::after {
    content: '';
    width: 2px;
    height: 25px;
    background-color: black;
    position: absolute;
    top: -50px;
    left: calc(50% - 1px);
}

.childrens > * {
    position: relative;
}

.childrens > *::before {
    content: '';
    width: 2px;
    height: 25px;
    top: -25px;
    left: calc(50% - 1px);
    position: absolute;
    background-color: black;
}

.childsBar {
    content: '';
    width: calc(100% - 75px);
    height: 2px;
    background-color: black;
    position: absolute;
    top: -50px;
    left: 50%;
    transform: rotate(180deg) translateX(50%);
    max-width: 145px;
    min-width: 145px;
}
.childsBar .bar {
    height: 27px;
    background-color: black;
    position: absolute;
    width: 2px;
}
.childsBar .bar:first-child {
    left: 0;
}
.childsBar .bar:last-child {
    right: 0;
}

.childrens.unique .childsBar {
    width: 2px;
    min-width: 2px;
}
